_build/
docs/EmbeddedOffSwitchControlFlow.pdf
docs/OffSwitch.aux
docs/OffSwitch.bbl
docs/OffSwitch.blg
docs/OffSwitch.fdb_latexmk
docs/OffSwitch.fls
docs/OffSwitch.log
docs/OffSwitch.out
docs/OffSwitch.pdf
docs/OffSwitch.synctex.gz
docs/SecurityBlock.pdf
docs/architecture.aux
docs/architecture.fdb_latexmk
docs/architecture.fls
docs/architecture.log
docs/architecture.out
docs/architecture.pdf
docs/architecture.synctex.gz
docs/architecture.toc
docs/embedded_off_switch.pdf
__pycache__/
verilog/build/
verilog/dump.fst
